

body {
  margin: ;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: white;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between=1000px;
  align-items: center;
  background: #2a2a2a;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 60px;
}

.nav a {
  margin: 0 15px;
  color: white;
  text-decoration: lined;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #f1c40f;
}

section {
  padding: 100px 30px 50px;
  text-align: center;
}

.intro {
  margin-top: 80px;
}

.intro .yellow-line {
  height: 5px;
  background: #f1c40f;
  margin: 20px auto;
  width: 30%;
}

.banner {
  width: 1000px;
  border: 3px solid #f1c40f;
  border-radius: 11px;
  margin-bottom: 25px;
}

.intro h2 {
  margin-top: 30px;
  font-size: 28px;
}

.intro p {
  font-size: 20px;
  margin-top: 10px;
}

.pay {
  font-size: 24px;
}

.pay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-img {
  width: 500px;
  border: 3px solid #f1c40f;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.donate-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #f1c40f;
}

.ip-box {
  background: #333;
  padding: 30px 100px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #f1c40f;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
}

.ip-box:hover {
  background: #444;
}

.contact-imgs {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-imgs img {
  height: 300px;
  transition: transform 0.3s;
}

.contact-imgs img:hover {
  transform: scale(1.1);
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 50px;
  height: 50px;
}

#copy-alert {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #f1c40f;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  display: none;
  font-weight: bold;
}

.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.banner,
.discord-banner {
  height: 500px;
  object-fit: cover;
}
